html {
    background-color: #1D1D1B;
    margin: 0;
    padding: 0;

    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    height: 100%;

    overflow: scroll;
}

#master {
    display:flex;
    justify-content:center;
    align-items:center;

    flex-direction: column;

    margin-top: 10vh;
}
