html {
    background-color: #1D1D1B;
    margin: 0;
    padding: 0;

    height: 100%;
}

body {
    margin: 0;
    padding: 0;

    height: 100%;
}

#master {
    display:flex;
    justify-content:center;
    align-items:center;

    flex-direction: column;

    margin-top: 20vh;
}
