.section {
    display: flex;

    margin-bottom: 35vh;
    padding-top: 80px;
    margin-top: -80px;

    overflow: hidden;

    z-index: 8;
}

.right {
    margin-left: 100px;
}

.card-number {
    font: bold 120px Roboto Mono, monospace;
    margin-bottom: -20px;
    margin-left: -20px;

    color: #5C5C5C;

    z-index: 1;
}

.card-left {
    margin-left: 100px;

    width: 370px;
    height: 455px;

    background-color: white;

    display: flex;
    flex-direction: column;

    border-radius: 5px;
    margin-right: 100px;
}

.card-right {
    width: 370px;
    height: 455px;

    background-color: white;

    display: flex;
    flex-direction: column;

    border-radius: 5px;
    margin-left: 86px;
}

.card-title {
    font: bold 22px Montserrat, sans-serif;
    padding-top: 54px;
    padding-left: 22px;
    padding-bottom: 15px;
}

.card-text {
    font: 15px Open Sans, sans-serif;
    width: 201px;
    color: white;

    margin-bottom: 15px;

    z-index: 10;
}

.card-image {
    width: 370px;
    height: 360px;

    object-fit: cover;

    border-radius: 0 0 5px 5px;
}

.more-button {
    height: 38px;

    font: bold 16px Montserrat, sans-serif;

    border: none;

    border-radius: 2px;

    color: #5C5C5C;
    width: 90px;    

    animation: 0.5s;
}

.more-button:hover {
    background-color: #DCDCDD;
}

.more-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.more-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    
    top: 0;
    right: -20px;

    transition: 0.5s;
}

.more-button:hover span {
    padding-right: 15px;
}

.more-button:hover span:after {
    opacity: 1;
    right: 0;
}
